
@{
    ViewBag.Title = "Home Page";
}
@*会員情報*@



@*<h2>@ViewData["DB接続"]</h2>*@
<h2>@ViewData["DB接続不可"]</h2>



<h1 class="titleH1">詳細ページ</h1>
<link rel="stylesheet" type="text/css" href="~/Content/Css/Board_Detail.css"/>


<form method="post" action="https://localhost:44342/Board/Update" onsubmit="deleteAlert();">

    <div class="formDiv">

        @foreach (var item in Model.Rows)
        {
            <input class="selectBox" type="text" name="_id" value="@item["Id"]" />

            <div class="inputDiv">
                <p class="title">タイトル：</p>
                <textarea class="titleinput" name="_title">@item["Title"]</textarea>

                <p class="writer">作者：</p>
                <input type="text" class="inputWriter" name="_writer" value="@item["Writer"]" />
                <input type="date" class="inputDate" name="_update" value="@item["Date"]" />
            </div>

            <textarea class="textinput" name="_text">@item["Text"]</textarea>

            <div class="buttonDiv">
                <button type="submit">修正</button>
            </div>
        }

    </div>
</form>

<script src="~/Content/JavaScript/Board_Detail.js"></script>
