
@{
    ViewBag.Title = "Home Page";
}
@*会員情報*@



@*<h2>@ViewData["DB接続"]</h2>*@
<h2>@ViewData["DB接続不可"]</h2>



<h1 style="text-align:center ; margin: 90px 0 0 0">会員情報</h1>


<div style="margin: 15px auto auto 43px;">
    @foreach (var item in Model)
    {
        <div style="display: flex;">
            <textarea class="titleinput" name="_title" placeholder="@item.Title"></textarea>

            <p style=" font-size:21px; color: white; margin: 5px 0 auto 30px;">作者：</p>
            <input type="text" style="height: 40px; width: 150px; " value="@item.Writer" />

            <input type="date" style="height: 40px; width: 150px; " value="@item.Update" />
        </div>

        <textarea class="textinput" name="_text" placeholder="@item.Text"></textarea>

        <div style="margin: 20px auto auto 340px; ">
            <a class="btn btn-warning" href="https://localhost:44342/Board/Index">戻る</a>
        </div>
    }
</div>
