
@{
    ViewBag.Title = "Post Board";
}

<h2>@ViewData["DB接続不可"]</h2>



<h1 style="text-align:center; margin: 90px 0 0 0">掲示板</h1>

<link rel="stylesheet" type="text/css" href="~/Content/Css/Board_Index.css">
<script src="~/Content/JavaScript/Board_Index.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



    <h3 id="message" />
    <div class="inputDivStyle">
        <input id="searchId" type="text" class="searchText" placeholder="ID" />
        <input id="searchwriter" type="text" class="searchText" placeholder="作者" />
        <input id="searchtitle" type="text" class="searchText" placeholder="タイトル" />
        <input id="searchFromDate" type="date" class="searchText" /> ～
        <input id="searchToDate" type="date" class="searchText" />
        <input type="button" class="searchButton" onclick="searchJson()" value="検索">
    </div>
    <div>
        <div>
            <label class="open" for="pop-up">テキスト登録</label>
        </div>
        <button class="deleteAllButton" id="button" onclick="allDeleteJson();">全削除</button>
    </div>
    
    <form class="formstyle" id="search_form">
        <table id="boardTable" class="boardTableStyle">
            <thead>
                <tr>
                    <th class="thId">
                        ID
                        <input id="itemId" class="selectBox" type="text" name="_id" />
                    </th>
                    <th class="thWriter">
                        WRITER
                        <input id="itemWriter" class="selectBox" type="text"/>
                    </th>
                    <th class="thTitle">
                        TITLE
                        <input id="itemTitle" class="selectBox" type="text"/>
                    </th>
                    <th class="thDate">
                        UPDATE
                        <input id="itemDate" class="selectBox" type="text"/>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @*@foreach (var item in Model.Rows)
                {
                    <tr>
                        <td>
                            @item["Id"]
                        </td>
                        <td>
                            @item["Title"]
                        </td>
                        <td>
                            @item["Writer"]
                        </td>
                        <td>
                            @item["Update"]
                        </td>
                    </tr>
                }*@
                </tbody>
        </table>
    </form>

<div class="containerStyle">
    <div>
        <span id="js-pagination-result-total"></span>現在のページ :
        <span id="js-pagination-result-range-text"></span>
    </div>
    <div id="clickButton"></div>
</div>


<input type="checkbox" id="pop-up">
<div class="overlay">
    <div class="window">
        <form class="form-horizontal" method="post" action="https://localhost:44342/Board/Create">
            <label class="close" for="pop-up">×</label>

            <div class="popupDiv">
                <div class="popupDivStyle">
                    <textarea id="createTitle" class="titleinput" placeholder="タイトル"></textarea>

                    <p class="popupWriterValue">作者：</p>
                    <input id="createWriter" type="text" class="popupWriterInput" />
                    <input id="createDate" type="date" class="popupDateInput" />
                </div>

                <textarea id="createText" class="textinput" placeholder="内容を入力してください。"></textarea>

                <div class="popupButtonDiv">
                    <a class="btn btn-warning" href="https://localhost:44342/Board/Create">戻る</a>
                    <input type="button" class="btn btn-primary" onclick="createJson()" value="登録"/>
                </div>
            </div>
        </form>
    </div>
</div>


<input id="titlePop-up" type="checkbox" class="selectBox">
<div class="overlay">
    <div class="window">
        <form class="form-horizontal" method="post" action="https://localhost:44342/Board/Create">
            <label class="close" for="pop-up">×</label>

            <div id="textpop-up" class="inputDiv">
            </div>
        </form>
    </div>
</div>