
@{
    ViewBag.Title = "Post Board";
}
@*会員情報*@



@*<h2>@ViewData["DB接続"]</h2>*@
<h2>@ViewData["DB接続不可"]</h2>



<h1 style="text-align:center; margin: 90px 0 0 0">検索結果</h1>

<style>
    th {
        border: solid 3px;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 10px 0 25px 0;
        border-collapse: collapse;
        text-align: center;
        border-color: #0000AA;
        font-size: 20px;
    }

    .thTitle {
        width: 600px;
    }

    .thId {
        width: 60px;
    }

    .thWriter {
        width: 250px;
    }

    .thDate {
        width: 250px;
    }

    .thDelete {
        width: 200px;
    }

    td {
        text-align: center;
        font-size: 17px;
        padding: 15px 0 10px 0;
    }

    .boardTh {
        text-align: center;
    }

    .open {
        cursor: pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
        margin: 0 auto auto 86%;
        color: #0000AA;
        font-weight: 600;
    }

    #pop-up {
        display: none; /* label でコントロールするので input は非表示に */
    }

    .overlay {
        display: none; /* input にチェックが入るまでは非表示に */
    }

    #pop-up:checked + .overlay {
        display: block;
        z-index: 9999;
        background-color: #00000070;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .window {
        width: 1200px;
        max-width: 1200px;
        height: 700px;
        overflow-y: scroll;
        background-color: #ffffff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(182,182,182,0.9);
    }

    .text {
        font-size: 18px;
        margin: 0;
    }

    .close {
        cursor: pointer;
        position: absolute;
        top: 4px;
        right: 10px;
        font-size: 20px;
    }

    li {
        list-style: none;
        align-items: center;
    }

    .titleinput {
        resize: none;
        width: 405px;
        max-width: 405px;
        height: 40px;
        text-align: left;
        top: 2px;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .textinput {
        resize: none;
        width: 800px;
        max-width: 800px;
        height: 500px;
        text-align: left;
        top: 2px;
        overflow-y: scroll;
    }

    .detailtext {
        /*visibility: hidden;*/
        border-style: none;
        width: 30px;
        text-align: center;
    }

    .selectBox {
        text-align: left;
        width: 1px;
        /*width: 100px;*/
        visibility: hidden;
    }

    .selector {
        cursor: grab;
        transition: all .25s ease-in-out;
    }

    .selector:hover {
        color: #0000AA;
        font-weight: 600;
    }

    .searchText {
        width: 200px;
        height: 30px;
        bottom:0;
    }
    .searchButton {
        width: 50px;
        height: 30px;
        top:0;
    }
</style>



<form class="form-horizontal" method="post">


    <div style="text-align: right; margin: 40px auto 0 auto; height: 100px; ">
        <input id="searchTitle" type="text" class="searchText" name="_searchTitle" placeholder="検索" />
        <button type="submit" class="searchButton" onclick="getAll(searchTitle); Actions('https://localhost:44342/Board/Search')">検索</button>
    </div>
    <label class="open" for="pop-up">テキストを書き込む</label>

    <table id="boardTable" style="margin: 80px 0 0 0;">
        <thead>
            <tr>
                <th class="thId">
                    Id
                    <input id="itemId" class="selectBox" type="text" name="_id" />
                </th>
                <th class="thWriter">
                    WRITER
                </th>
                <th class="thTitle">
                    TITLE
                </th>
                <th class="thDate">
                    UPDATE
                </th>
                <th class="thDelete">
                    <button id="button" type="submit" onclick="deleteAlert(); Actions('https://localhost:44342/Board/AllDelete')">全削除</button>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Rows)
            {
                <tr>
                    <td>@item["Id"]</td>

                    <td>@item["Writer"]</td>

                    <td class="selector" onclick="getAll(itemId); Actions('https://localhost:44342/Board/Detail')">@item["Title"]</td>

                    <td>@item["Update"]</td>

                    <td>
                        <button type="submit" onclick="deleteAlert(); getId(itemId); Actions('https://localhost:44342/Board/SingleDelete')">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script>
    function Actions(url) {
        var f = document.querySelector("form");
        var a = f.setAttribute("action", url);
        document.querySelector("form").submit();
    }

    function deleteAlert() {
        var deleteAlert = window.confirm('このテキストを削除しますか？');

        if (!deleteAlert) { return false; }
    }

    function getId() {
        var table = document.getElementById("boardTable"), rIndex;

        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                rIndex = this.rowIndex;
                console.log(rIndex);

                document.getElementById("itemId").value = this.cells[0].innerHTML;
            };
        }
    }

    function getAll() {
        var table = document.getElementById("boardTable"), rIndex;

        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                rIndex = this.rowIndex;
                console.log(rIndex);

                document.getElementById("itemId").value = this.cells[0].innerHTML;

                document.querySelector("form").submit();
            };
        }
    }

    function getTitle() {
        var table = document.getElementById("boardTable"), rIndex;

        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                rIndex = this.rowIndex;
                console.log(rIndex);

                document.getElementById("itemId").value = this.cells[0].innerHTML;

                document.querySelector("form").submit();
            };
        }
    }
</script>




<input type="checkbox" id="pop-up">
<div class="overlay">
    <div class="window">
        <form class="form-horizontal" method="post" action="https://localhost:44342/Board/Create">
            <label class="close" for="pop-up">×</label>

            <div style="margin: 15px auto auto 43px;">

                <div style="display: flex;">
                    <textarea class="titleinput" name="_title" placeholder="タイトル"></textarea>

                    <p style=" font-size:21px; color: white; margin: 5px 0 auto 30px;">作者：</p>
                    <input type="text" style="height: 40px; width: 150px; " name="_writer" />

                    <input type="date" style="height: 40px; width: 150px; " name="_date" />
                </div>

                <textarea class="textinput" name="_text" placeholder="内容を入力してください。"></textarea>

                <div style="margin: 20px auto auto 340px; ">
                    <a class="btn btn-warning" href="https://localhost:44342/Board/Index">戻る</a>
                    <button type="submit" class="btn btn-primary" href="https://localhost:44342/Board/Index">登録</button>
                </div>
            </div>

        </form>
    </div>
</div>

