<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 掲示板</title>

    <link rel="stylesheet" href="~/Content/Css/Layout.css" />
</head>
<body>
    <div class="bar">
        <div class="header">
            <p>C#専門 掲示板</p>
        </div>
        <div class="hamburger-menu">
            <input type="checkbox" id="menu-btn-check">
            <label for="menu-btn-check" class="menu-btn"><span class="spanstyle">メニュー</span></label>

            <div class="menu-content">
                <ul class="box">
                    <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
                </ul>
                <ul class="box">
                    <li>@Html.ActionLink("掲示板", "Index", "Board")</li>
                    <li>@Html.ActionLink("書き込み", "Create", "Board")</li>
                </ul>
                <ul class="box">
                    <li>@Html.ActionLink("会員情報", "Index", "Login")</li>
                    <li>@Html.ActionLink("会員登録", "AddGet", "Login")</li>
                    <li>@Html.ActionLink("ログイン", "Join", "Login")</li>
                </ul>
            </div>
        </div>

    </div>

    <div>
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Chung Tawooly</p>
        <hr />
    </footer>
</body>
</html>
